In [11]:
# Task 1 
# (a)
age = 22
name = "Ghulam Nabi"
student = True
print(name)
print(age)
print(student)

Ghulam Nabi
22
True

In [16]:
# (b)
age_new = age + 25
name_new = name + " Smith"
student = False

print(name_new)
print(age_new)
print(student)

Ghulam Nabi Smith
47
False

In [17]:
# Task 2
# (a) 
width = 5.5
height = 3.25
area = width * height 
print(area)

17.875

In [19]:
# (b)
Celsius = 100
Fahrenheit = (Celsius * 9/5) + 32
print(Fahrenheit)

212.0

In [21]:
# (c)
radius = 5
area = 3.14159 * radius ** 2 # area of circle 
print(area)

78.53975

In [22]:
# Task 3
# (a)
fruits = ["apple","banana","orange","grape","kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [23]:
# (b)
months = ("January","February","March")
print(months)

('January', 'February', 'March')

In [24]:
# Task 4
# (a)
numbers = [12, 34, 45, 67, 89, 100, 23, 56]
sum_of_numbers = sum(numbers) # sum of numbers
avg_of_numbers = (sum_of_numbers/len(numbers)) # average of numbers 

print(sum_of_numbers)
print(avg_of_numbers)

426
53.25

In [36]:
# (b)
fruits = ["apple","banana","orange","grape","kiwi"]
fruits.remove("apple") # 1st element
fruits.remove("kiwi") # last element 
fruits

['banana', 'orange', 'grape']

In [38]:
# Task 5
# (a)
capitals = {
    "USA" : "Washington DC",
    "France" : "Paris",
    "Japan" : "Tokyo",
}
print(capitals)

{'USA': 'Washington DC', 'France': 'Paris', 'Japan': 'Tokyo'}

In [40]:
# (b)
capitals.update({'Germany':"Berlin"})
print(capitals)

{'USA': 'Washington DC', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [41]:
# (c)
if "France" in capitals:
    print("France is in the dictionary")
else:
    print("France is not in the dictionary")

France is in the dictionary

In [46]:
# Task 6
# (a)
number = int(input("Enter your number: "))
if (number % 2 == 0):
    print("The Number is even")
else:
    print("The Number is odd")

Enter your number: 3
Number is odd

In [57]:
# (b)
age = 18
GPA = 3.3
if (age >= 18 and (GPA >= 3.0 and GPA <= 4.0)):
    print("Eligible for Admission")
else:
    print("Not Eligible for Admission")

Eligible for Admission

In [58]:
# Task 7
# (a)
fruits_set = {"apple","banana","orange","grape","kiwi"}
print(fruits_set)

{'apple', 'grape', 'orange', 'kiwi', 'banana'}

In [63]:
# (b)
set1 = {1, 2, 3, 4, 5} 
set2 = {3, 4, 5, 6, 7}

s3 = set1.union(set2)
s4 = set1.intersection(set2)
s5 = set1.difference(set2)
print("Union:",s3)
print("Intersection: ",s4)
print("Difference: ",s5)
print("Is set1 subset of set2?", set1.issubset(set2))

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection:  {3, 4, 5}
Difference:  {1, 2}
Is set1 subset of set2? False

In [73]:
# Task 8
# (a)
string = "Python programming is fun and powerful!"
print("Length of String:",len(string)) # length
print("UpperCase String:",string.upper()) # upper case
print("Replacing String:",string.replace("fun","exciting")) # replace 
print("Checking String:",string.find("Python"))  # find
print("Splitting String: ", string.split()) #splitting string into words

Length of String: 39
UpperCase String: PYTHON PROGRAMMING IS FUN AND POWERFUL!
Replacing String: Python programming is exciting and powerful!
Checking String: 0
Splitting String:  ['Python', 'programming', 'is', 'fun', 'and', 'powerful!']

In [1]:
# Task 9
# (a) 

def num_vowels(string):
    vowels = ['a','e','i','o','u','A','B','C','D','E']
    count = 0
    for i in string:
        if i in vowels:
            count += 1   
    return count


string = "Learning Python is fun and engaging"
result = num_vowels(string)
print("The number of vowels in the string is: ",result)

The number of vowels in the string is:  10

In [3]:
# (b)

def hours_to_min(hours):
    hours_min = hours*60
    return hours_min

Mins = hours_to_min(2.5)
print("2.5 hours into minutes: ",Mins)

2.5 hours into minutes:  150.0

In [3]:
# (c)

def multiplication_table(number):
    for i in range(1,13):
        result = i * number
        print(f"{i} x {number} = {result}")

      
multiplication_table(8)

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96